
<head>
  <meta charset="utf-8">
    
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../BizPage/img/favicon.png" rel="icon">
  <link href="../BizPage/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../BizPage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../BizPage/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../BizPage/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../BizPage/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../BizPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../BizPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../BizPage/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
   <header id="header">
    <div class="container-fluid">

      
     <a href="/home" class="scrollto container"><img src="../BizPage/unipic/logo.png" alt="" title="" width="13%" style="margin-top:-30px;display:inline-block" /></a>   <span style="color:white;font-style:italic;font-size:14px;margin:0;">A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>
        

       <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active" ><a  href="/home">Home</a></li>
          <li ><a  href="/aboutus">About Us</a></li>
             <li  class="menu-has-children "><a  href="">Students</a>
            <ul>
                 <li><a  href="/how-it-works">How to Apply?</a></li>
             
              <li><a href="/eligibility-form/new">Check Elegiblitity</a></li>
                 <li><a href="/life-in-canada">Life in Canada</a></li>
                 <li><a href="search">Search Institutes</a></li>
            </ul>
          </li>
   <li  class="menu-has-children "><a  href="/faq">FAQ</a>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">


        <ol class="carousel-indicator"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../BizPage/img/accomplishment-celebrate-ceremony-267885.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content" style="margin-top:-120px">
                  <h2 style="font-size:30px">THE CANADIAN EDUCATION PATHWAY MADE EASY</h2>
                <p style="font-size:20px ;width:100%; font-weight:300">Apply to the top universities and colleges in Canada using our all-in-one platform that has a 95% acceptance rate.
</p>
                  
                 <a href="#features" class=" btn-get-started scrollto" style="margin-top:100px;background:#b4292f">Get Started</a>
 
                               <a href="#features" class=" btn scrollto" style="margin-top:40px;display:block;text-decoration:underline;color:white">Why Study In Canada <i style="font-size:20px;color:#b4292f" class="fa fa-angle-double-down"></i ></a>
                 <div class="arrow bounce" style="margin-bottom:-120px">
  <a class="fa fa-arrow-down fa-2x scrollto" href="#features"></a>
</div>
                 
               
              </div>
            </div>
          </div>

          <div class="carousel-item ">
            <div class="carousel-background"><img src="../BizPage/img/books-library-students-12064.jpg" alt=""></div>
            <div class="carousel-container">
                            <div class="carousel-content" style="margin-top:-120px">
                <h2 style="font-size:30px">THE CANADIAN EDUCATION PATHWAY MADE EASY</h2>
                <p style="font-size:20px ;width:100%; font-weight:300">Apply to the top universities and colleges in Canada using our all-in-one platform that has a 95% acceptance rate.
</p>
                   <a href="#about" class=" btn-get-started scrollto" style="margin-top:100px">Get Started</a>
            <a href="#features" class=" btn scrollto" style="margin-top:40px;display:block;text-decoration:underline;color:white">Why Study In Canada <i style="font-size:20px;color:#b4292f" class="fa fa-angle-double-down"></i ></a>
                 <div class="arrow bounce" style="margin-bottom:-120px">
  <a class="fa fa-arrow-down fa-2x scrollto" href="#features"></a>
</div>
               
              </div>
            </div>
          </div>


  <div class="carousel-item ">
            <div class="carousel-background"><img src="../BizPage/img/academic-adult-architecture-159740.jpg" alt=""></div>
            <div class="carousel-container">
                           <div class="carousel-content" style="margin-top:-120px">
                <h2 style="font-size:30px">THE CANADIAN EDUCATION PATHWAY MADE EASY</h2>
                <p style="font-size:20px ;width:100%; font-weight:300">Apply to the top universities and colleges in Canada using our all-in-one platform that has a 95% acceptance rate.
</p>
                   <a href="#about" class=" btn-get-started scrollto" style="margin-top:100px">Get Started</a>
        <a href="#features" class=" btn scrollto" style="margin-top:40px;display:block;text-decoration:underline;color:white">Why Study In Canada <i style="font-size:20px;color:#b4292f" class="fa fa-angle-double-down"></i ></a>
                 <div class="arrow bounce" style="margin-bottom:-120px">
  <a class="fa fa-arrow-down fa-2x scrollto" href="#features"></a>
</div>
               
              </div>
            </div>
          </div>

        </div>

          </div>

      </div>
   
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">
            <% if(content) { %>
          <div class="col-lg-4 box">
            <i class="ion-ios-people-outline"></i>
            <h4 class="title"><a href=""><%= content[0].main_one_heading %></a></h4>
            <p class="description"><%= content[0].main_one_desc %></p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-book-outline"></i>
            <h4 class="title"><a href=""><%= content[0].main_two_heading %></a></h4>
            <p class="description"><%= content[0].main_two_desc %>
</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-home-outline"></i>
            <h4 class="title"><a href=""><%= content[0].main_three_heading %></a></h4>
            <p class="description"><%= content[0].main_three_desc %></p>
          </div>
           
        </div>
      </div>
    </section><!-- #featured-services -->

    <!--==========================
      About Us Section
    ============================-->
      
       <section id="features" >
      <div class="container">

        <div class="row">

          <div class="col-lg-8 offset-lg-4">
            <div class="section-header wow fadeIn" data-wow-duration="1s">
              <h3 class="section-title">
                <span>WHY</span>
    <div class="rw-words rw-words-1" >
		<span>STUDY</span><span>LIVE</span><span>STUDY</span><span>LIVE</span><span>STUDY</span><span>LIVE</span>
    </div>
<span>IN CANADA</span><img src="../BizPage/img/Flag_of_Canada_(Pantone).svg.png" alt="" class="wow fadeInLeft"  width="7%px" height="27" style="margin-left:10px"></h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="../BizPage/img/650px-Political_map_of_Canada.png" alt="" class="wow fadeInLeft" height="400px" width="700px">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box wow fadeInRight">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href=""><%= content[0].study_canada_hone %>
</a></h4>
                <p class="description"><%= content[0].study_canada_done %> </p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                <h4 class="title"><a href=""><%= content[0].study_canada_htwo %></a></h4>
                <p class="description"><%= content[0].study_canada_dtwo %></p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                <h4 class="title"><a href=""><%= content[0].study_canada_hthree %>
</a></h4>
                <p class="description"><%= content[0].study_canada_dthree %></p>
              </div>
              <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href=""><%= content[0].study_canada_hfour %>
</a></h4>
                <p class="description"><%= content[0].study_canada_dfour %></p>
              </div>
            </div>
 <%} %>
          </div>
            
          <a  style="background:#b4292f;border-color:#b4292f" href="/life-in-canada" class="btn btn-success">Learn More about Life in Canada</a>
        </div>

      </div>

    </section> <!-- #features -->
    <hr>
    
  
    

    <!--==========================
      Services Section
    ============================-->
         <section id="advanced-features">
         <div class="features-row">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" src="../BizPage/img/architecture-building-campus-356086.jpg" alt="" width="50%"height="60%">
              <div class="wow fadeInRight">
                <h2>Studying in Universites in Canada</h2>
                  <% if(uni){ %>
                  <% for(var j =0; j<uni.length;j++) { %>
                <i style="font-size:20px"class="ion-ios-book-outline" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-duration="0.5s"><%= uni[j].point %>
.</p>
                  <% } %>
                    <% } %>

              </div>
                <a  style="background:#b4292f;border-color:#b4292f" href="/search" class="btn btn-success">Search Universities In Canada</a>
            </div>
          </div>
        </div>
      </div>
             
          <div class="features-row section-bg">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" src="../BizPage/img/archive-beautiful-book-stack-256455.jpg" alt="" width="55%" height="60%">
              <div class="wow fadeInLeft">
                <h2>Studying in Colleges In Canada</h2>
                     <% if(col){ %>
                  <% for(var k =0; k<col.length;k++) { %>
                <i style="font-size:20px"class="ion-ios-book-outline" class="wow fadeInRight" data-wow-duration="0.5s"></i>
                <p class="wow fadeInRight" data-wow-duration="0.5s"><%= col[k].point %>

.</p>
        <% } %>
                    <% } %>
              </div>
                <a  style="background:#b4292f;border-color:#b4292f" href="/search" class="btn btn-success">Search Colleges In Canada</a>
            </div>
          </div>
        </div>
      </div>
      </section>
      
      <section id="service" class="home-section text-center bg-gray">

    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
                <header class="section-header">
          <h3 class="section-title">How IT WORKS?</h3>
        </header>
                



            </div>
          </div>
        </div>
      </div>
    </div>
 

    <div class="container">
      <div class="row">
       
      </div>
      <div class="row">
          <% if(hw){ %>
          <% for(var q =0;q <hw.length;q++) { %>
       <div  style="margin-left:30px"class="col-md-2 centered">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
               <i  style="font-size:80px"class="fa fa-<%= hw[q].icon %>" aria-hidden="true"></i>
              </div>
              <div class="service-desc">
                <h5><%= hw[q].heading %></h5>
                <p><%= hw[q].description %></p>
              </div>
            </div>
          </div>
        </div>
      
<% }%>
<% }%>
 
      </div>
    </div>
  </section>
   
             <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
         <img src="../BizPage/img/clients/client-1.png" style="" alt="">
          <img src="../BizPage/img/clients/client-2.png" alt="">
          <img src="../BizPage/img/clients/client-3.png" alt="">
          <img src="../BizPage/img/clients/client-4.png" alt="">
          <img src="../BizPage/img/clients/client-5.png" alt="">
          <img src="../BizPage/img/clients/client-6.png" alt="">
          <img src="../BizPage/img/clients/client-7.png" alt="">
     
        <img src="../BizPage/img/clients/client-9.png" style="" alt="">
             <img src="../BizPage/img/clients/client-10.png" style="" alt="">
             <img src="../BizPage/img/clients/client-11.png" style="" alt="">
             <img src="../BizPage/img/clients/client-12.png" style="" alt="">
             <img src="../BizPage/img/clients/client-13.png" style="" alt="">
             <img src="../BizPage/img/clients/client-14.png" style="" alt="">
             <img src="../BizPage/img/clients/client-15.png" style="" alt="">
             <img src="../BizPage/img/clients/client-16.png" style="" alt="">
             <img src="../BizPage/img/clients/client-17.png" style="" alt="">
             <img src="../BizPage/img/clients/client-18.png" style="" alt="">
             <img src="../BizPage/img/clients/client-19.png" style="" alt="">
             <img src="../BizPage/img/clients/client-20.png" style="" alt="">
           
             <img src="../BizPage/img/clients/client-22.png" style="" alt="">
             <img src="../BizPage/img/clients/client-23.png" style="" alt="">
             <img src="../BizPage/img/clients/client-24.png" style="" alt="">
             <img src="../BizPage/img/clients/client-25.png" style="" alt="">
             <img src="../BizPage/img/clients/client-26.png" style="" alt="">
             <img src="../BizPage/img/clients/client-27.png" style="" alt="">
             <img src="../BizPage/img/clients/client-28.png" style="" alt="">
             <img src="../BizPage/img/clients/client-29.png" style="" alt="">
             <img src="../BizPage/img/clients/client-30.png" style="" alt="">
           
             <img src="../BizPage/img/clients/client-32.png" style="" alt="">
             <img src="../BizPage/img/clients/client-321.png" style="" alt="">
             <img src="../BizPage/img/clients/client-33.png" style="" alt="">
            
             <img src="../BizPage/img/clients/client-35.png" style="" alt="">
             <img src="../BizPage/img/clients/client-36.png" style="" alt="">
        </div>

      </div>
    </section><!-- #clients -->
    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Top Programs</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              
             
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
            <% if(programname) { %> 
            <% for(var  i =0 ;i< programname.length ; i++) { %>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">
            <div class="portfolio-wrap">
              <figure>
                   <% var str = "program/" + programname[i].program_name 
                  var str2 = decodeURI(str)
                  %>
                <a href="<%= str %>"><img src="../BizPage/img/program-<%=i+1 %>.jpg" class="img-fluid" width="100%" alt=""></a>
             
               
              </figure>

              <div class="portfolio-info" style="">
                  <% var str = "program/" + programname[i].program_name 
                  var str2 = decodeURI(str)
                  %>
                <h4><a href="<%= str %>"><%= programname[i].program_name %></a></h4>
            
              </div>
            </div>
          </div>
            
            <% } %>
            <% } %>

  

   

    

      



        </div>
 
      </div>
      
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
            <!--==========================
      Call To Action Section
    ============================-->
    
   

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3 style="color:white">What international students has to say</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

          
                        <% if(ts) { %> 
            <% for(var  i =0 ;i< ts.length ; i++) { %>
          <div class="testimonial-item">
           
            <h3><%= ts[i].person_name %></h3>
            <h4><%= ts[i].institute %></h4>
            <p>
              <img src="../BizPage/img/quote-sign-left.png" class="quote-sign-left" alt="">
             <%= ts[i].statement %>
              <img src="../BizPage/img/quote-sign-right.png" class="quote-sign-right" alt="">
            </p>
          </div>

    
            <% } %>
            <% } %>

        
      

     

      

        </div>

      </div>
    </section><!-- #testimonials -->
<!--
      <section id="call-to-action" class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <div class="container text-center">
        <h3>DONT KNOW WHERE TO START? <br /><br /></b>OUR NEWEST PERSONALITY TEST IS HERE!</h3>
        <p style="font-weight:300">OUR NEW PERSONALITY TEST WILL HELP TO FIND YOUR ABLITIES AND SKILLS AND BASED ON RESULTS IT WILL RECOMMEND PROGRAMS, UNIVERSITIES AND COLLEGES BASED ON YOUR SKILLS AND ABILITES </p>
        <a class="cta-btn" href="#">Take Personality Test</a>
      </div>
    </section>
-->
        
        
 <br />
   <div id="pricing" class="pricing-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div style="padding-top:50px;padding-bottom:30px" class="section-headline text-center">
            <header class="section-header">
          <h3 class="section-title">Why Choose Us</h3>
        </header>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="pri_table_list active">
            <h3>North Vista (Licensed Consultants) <br/> <span></span></h3>
            <ol>
              <li class="check">Finding the best school</li>
                 <li class="check">Admission processing</li>
              <li class="check ">Student personality assessment</li>
             
                <li class="check">Higher probability of admissions</li>
              <li class="check">Study Permits and Visa Services</li>
              <li class="check ">Travel and accommodation assistance</li>
              <li class="check ">Orientation upon arrival</li>
            </ol>
               
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="pri_table_list active ">
            <h3>Other Consultants <br/> <span></span></h3>
            <ol>
                    <li class="check">Finding the best school</li>
              <li class="check">Admission Processing</li>
                  <li class="check cross ">Student personality assessment</li>
                <li class="check cross">Higher probability of admission</li>
              <li class="check cross ">Study Permits and Visa Services</li>
              <li class="check cross ">Travel and accommodation assistance</li>
              <li class="check  cross">Orientation upon arrival</li>
            </ol>
           
          </div>
             
        </div>
     

    
      </div>
            <div class="">  <a   style="margin-bottom:20px;background:#b4292f;border-color:#b4292f;color:white margin-top:20px "href="/eligibility-form/new" class="btn btn-success">Check Your Eligibility</a></div>
    </div>
  </div>
<br />
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <a href="#intro" class="scrollto container"><img src="../BizPage/unipic/logo.png" alt="" title="" width="80%" style="margin-top:-30px;" /></a>   <span style="color:;font-style:italic;font-size:15px;">&nbsp&nbsp&nbsp&nbsp A Better Tomorrow..Starting Today <i class="fa fa-check"></i></span>
           
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/home">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/faq">FAQ</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/eligibility-form/new">Eligibility Form</a></li>
            </ul>
          </div>
              <div class="col-lg-3 col-md-6 footer-links">
            <h4>Dubai Office Address</h4>
             <p>
              Dusseldorf Business Point Building, Suite 508
front of Mall of Emirates
Barsha 1, Dubai
U.A.E. <br>
              <strong>Phone:</strong>  +971-55-99-95775<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Canada Address </h4>
            <p>
              170 Robert Speck Pkwy #204, Mississauga, ON L4Z 3G1 <br>
              <strong>Phone:</strong> +1 (647) 660-5758<br>
              <strong>Email:</strong> info@mystudentcounselor.com<br>
              </p>
              <hr >
              

            <div class="social-links">
              <!--<a href="@NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>-->
              <a href=" http://www.facebook.com/nvstudentcounselling/" class="facebook"><i class="fa fa-facebook"></i></a>
                 <a href="https://twitter.com/NVStudentCorp" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/nvcounselling/" class="facebook"><i class="fa fa-instagram"></i></a>
            </div>

          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NorthVista</strong>. All Rights Reserved
      </div>
      <div class="credits">
       
       
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../BizPage/lib/jquery/jquery.min.js"></script>
  <script src="../BizPage/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../BizPage/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../BizPage/lib/superfish/hoverIntent.js"></script>
  <script src="../BizPage/lib/superfish/superfish.min.js"></script>
  <script src="../BizPage/lib/wow/wow.min.js"></script>
  <script src="../BizPage/lib/waypoints/waypoints.min.js"></script>
  <script src="../BizPage/lib/easing/easing.min.js"></script>
  <script src="../BizPage/lib/counterup/counterup.min.js"></script>
  <script src="../BizPage/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../BizPage/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../BizPage/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../BizPage/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../BizPage/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../BizPage/js/main.js"></script>

